mixin future(data)
	+b.future&attributes(attributes)
		+e('p').text
			|Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
		+e('ul').list
			each item, index in data
				+e('li').item
					+e('input').input(
					type='radio'
					name='future'
					id='future-#{index}'
					checked=(item[1] ? 'checked' : undefined))
					+e('label').label(for='future-#{index}') #{item[0]}
